@import "@fontsource-variable/geist/index.css";
@import "@fontsource-variable/geist-mono/index.css";
@import "tailwindcss";

@theme {
  --color-bg: #000;
  --color-fg: #e5e5e5;
  --color-fg-muted: #8b8b8b;

  --font-sans: "Geist Variable", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Geist Mono Variable", ui-monospace, monospace;
}

html {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #fff2;
}
