<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
	<true/>
	<key>FirebaseCrashlyticsCollectionEnabled</key>
	<true/>
	<key>FirebaseDataCollectionDefaultEnabled</key>
	<true/>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://dl.versioneer.app/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>$(SPARKLE_PUBLIC_ED_KEY)</string>
	<key>NSApplicationCrashOnExceptions</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
